body{
    
font-family: 'Poppins', sans-serif;
padding: 10px 50px;
overflow-x: hidden;
}
h1{
    font-size: 47px;
    
}
p{
    font-weight: 400 !important;
    font-size: 1.3rem;
} 
.head{
    margin-top: 150px;
    
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    font-size: 42px;
    padding: 20px;
    border-left: 10px solid;
    border-image: linear-gradient(rgb(16, 16, 252), aqua);
    border-image-slice: 1;
}
.clrone{
    color: rgb(0, 153, 255);
}
section{
    
    margin-bottom: 150px;
}
.spc{
    width: 60%;
    padding: 5%;
}

.link-button{
    text-decoration: none;
    background-color:rgb(233, 156, 131);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    display: inline-block;
    margin-top: 10px;
}
.flexible-cont{
    display: flex;
    margin-left: 200px;
}
.box1{
    width: 20%;
    background-color: cornsilk ;
    padding: 30px;
    margin: 20px;
    border-radius: 15px;
}
.box2{
    width: 20%;
    background-color:rgba(143, 188, 143, 0.329) ;
    padding: 30px;
    margin: 20px;
    border-radius: 15px;
    
}
.box3{
    width: 20%;
    background-color:lightcyan ;
    padding: 30px;
    margin: 20px;
    border-radius: 15px;
}
.box1 img {
    
    width: 130%;
}
.box2 img {
    width: 132%;
}
.box3 img {
    width: 132%;
}


.second-part-heading {
    display: block ;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.spc small {
    display: block;
    padding: 10px 0px;
}
section {
    height: 100vh;
}
.spci img {
    margin-bottom: 120px;
    margin-left: 286px;
    width: 66%;
}
.flexing{
    display: flex;
}

.img-parts {
    width: 50%;
}
.img-parts img {
    width: 77%;
    margin: 0px 150px;
}

.text-part {
    width: 50%;
}

.text-part p {
    font-size: 35px;
}

.coding-part {
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 1px 55px;
}
.img-parts-2nd {
    width: 50%;
}
.img-parts-2nd img {
    width: 77%;
    margin: 0px 150px;
}

.text-part-2nd {
    width: 50%;
}

.text-part-2nd p {
    font-size: 35px;
}

.project-part {
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 1255px 346px;
}

.heading {
    display: block;
    text-align: center;
}
.journey {
    font-size: 2rem;
}
.flexing{
    padding: 120px 150px;
}
footer {
    background-color: black;
    height: 30vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center   ;
}
footer h1, footer small {
    display: block;
    text-align: center;
}
footer h1 {
    font-family: 'Lobster' !important;
}

footer .two {
    color: red;
}